/* Colors */
$black: rgb(10, 10, 10);
$black-bis: rgb(18, 18, 18);
$black-ter: rgb(36, 36, 36);
$grey-darker: rgb(54, 54, 54);
$grey-dark: rgb(74, 74, 74);
$grey: rgb(121, 121, 121);
$grey-light: rgb(181, 181, 181);
$grey-lighter: rgb(219, 219, 219);
$white-ter: rgb(244, 243, 241);
$white-bis: rgb(250, 250, 250);
$white: rgb(255, 255, 255);
$green: rgb(0, 171, 107);
$green-light: rgba(0, 171, 107, 0.5);
$green-invert: $green;

/* Theme colors */
$primary: $green;
$primary-invert: $green-invert;
$light: $white-ter;
$dark: $grey-darker;
$background: $white-ter;
$code-background: rgb(246, 248, 250);
$main-background: $white;

/* Text colors */
$text: $grey-dark;
$text-invert: $text;
$text-light: $grey;
$text-strong: $grey-darker;

/* Border colors */
$border: $grey-lighter;
$border-hover: $grey-light;
$main-border: rgba(0, 0, 0, 0.09);
$media-border: $white;

/* Box shadow colors */
$box-shadow: rgba(0, 0, 0, 0.04);
$box-shadow-dark: rgba(0, 0, 0, 0.15);
$box-shadow-darker: rgba(0, 0, 0, 0.3);

/* Typography */
$family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Helvetica Neue", sans-serif;
$family-monospace: "Fira Code", "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", Courier, monospace;
$family-lobster: 'Lobster', cursive, $family-sans-serif;
$family-shabnam: 'Shabnam', $family-sans-serif;
$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.8rem;
$weight-light: 300;
$weight-normal: 400;
$weight-semibold: 500;
$weight-bold: 700;

/* Radius */
$radius-small: 2px;
$radius: 3px;
$radius-large: 5px;

/* Responsiveness */
$phone: 640px;
$tablet: 800px;
$desktop: 960px;
$widescreen: 1440px;
$min-height: 720px;

/* Table */
$table: $grey-darker;
$table-background: $white;
$table-border: $grey-lighter;
$table-head: $grey;
$table-row-hover-background: $white-bis;
$table-row-active-background: $primary;
$table-row-active: $primary-invert;
$table-row-even-background: $white-bis;
$table-row-even-hover-background: $white-ter;

/* Miscellaneous */
$easing: ease-out;
$speed: 0.5s;
